{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-5 col-md-4 color_back">
                <h1 class="titre_index">Soiree creation</h1>
                <div class="space"></div>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Create" />
                {{ form_end(form) }}
                <ul>
                    <li>
                        <a href="{{ path('soiree_index') }}">Back to the list</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
